.dashContainer {
  width: 100vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerDash {
  border: 2.5px solid red;
  border-radius: 10px;
  display: flex;
  /* justify-content: flex-start; */
  width: 95vw;
  height: 90vh;
}
.navQuotes {
  display: flex;
  flex-direction: column;
  width: 85vw;
}
