.container {
  display: flex;
}
.registerImg {
  width: 60%;
}
.registerForm {
  display: flex;
  flex-direction: column;
  width: 40%;
  border: 1px solid red;
  justify-content: center;
  align-items: left;
}
.registerInputs {
  margin-left: 0.5rem;
}
input {
  width: 90%;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
button {
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}
