.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  border: 1px solid green;
}
.aboutTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}
.aboutTitle h1 {
  width: 20vw;
  margin-top: 4rem;
  font-size: 2.7rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.aboutTitle p {
  margin-top: 2rem;
  width: 50vw;
  text-align: center;
}
.aboutContent {
  width: 40vw;
  margin: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}

.aboutSection {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.aboutCards h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 700;
}
.aboutCards {
}
.cardContainer {
  display: flex;
  /* justify-content: space-between; */
  border: 1px solid springgreen;
}
.card {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff3b3f;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid tomato;
}
