.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 6rem;
}
.aboutTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.aboutTitle h1 {
  width: 20vw;
  margin-top: 4rem;
  font-size: 2.7rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.aboutTitle p {
  margin: 3rem 0 1rem 0;
  width: 50vw;
  text-align: center;
}
.aboutContent {
  width: 45vw;
  margin: 1.5rem 0 5rem 0;
  display: flex;
  justify-content: space-evenly;
}
.aboutContent img {
  border-radius: 8px;
  width: 27vw;
  height: 43vh;
}
.aboutSection {
  width: 30vw;
  display: flex;
  line-height: normal;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1.5rem;
}
.slogan {
  color: #ff3b3f;
  font-size: 0.9rem;
  font-style: italic;
}
.aboutCards h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #706e6e;
  margin-bottom: 1rem;
}
.cardContainer.container {
  width: 60vw;
  height: 45vh;
  display: flex;
  justify-content: space-around;
}
.card {
  width: 25vw;
  height: 15vh;
  padding: 2rem;
  margin-bottom: 1rem;
  color: #706e6e;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.card h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff3b3f;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.card h3:hover {
  cursor: pointer;
}

/**********************       TABLET VIEW     *************************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .aboutContainer {
    margin-bottom: 4rem;
  }
  .aboutTitle {
    margin-bottom: 1.5rem;
  }
  .aboutTitle h1 {
    width: 100vw;
    font-size: 2.6rem;
  }
  .aboutContent img {
    width: 40vw;
    height: 25vh;
  }
  .aboutContent p {
    width: 25vw;
  }
  .aboutCards h2 {
    font-size: 1.7rem;
  }
  .cardContainer.container {
    height: 60vh;
    width: 80vw;
  }
  .card {
    margin: 1rem;
    height: 22vh;
    width: 22vw;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 1rem;
  }
}

/**********************       MOBILE VIEW     *************************/
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .aboutContainer {
    margin-bottom: 8rem;
  }
  .aboutTitle {
    margin-bottom: 1.5rem;
  }
  .aboutTitle h1 {
    width: 100vw;
    font-size: 2.1rem;
  }
  .aboutSection {
    width: 80vw;
    display: flex;
    line-height: normal;
    flex-direction: column;
    font-size: 1rem;
  }
  .aboutContent {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutContent img {
    width: 80vw;
    margin-bottom: 1.5rem;
  }
  .aboutCards h2 {
    font-size: 1.4rem;
    margin-bottom: 7rem;
  }
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  .cardContainer.container {
    height: 100vh;
  }
  .card {
    margin: 1rem;
    height: 18vh;
    width: 70vw;
  }
  .card h3 {
    font-size: 1rem;
  }
  .card p {
    font-size: 1rem;
  }
}
