.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 75vh;
  background: linear-gradient(to left, #ff3b3f, #fda1a1);
  border: 1px solid red;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  width: 65vw;

  border: 1px solid black;
}
.contactTitle {
  margin-top: 6rem;
  margin-bottom: 1rem;
  font-size: 2.7rem;
  font-weight: 900;
  color: azure;
  text-transform: uppercase;
  border: 1px solid blue;
}
.contactTitle h2 {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: azure;
  text-transform: none;
  border: 1px solid blue;
}
.contactForm {
  width: 35vw;
  padding: 0.2em;
  font-size: 1rem;
  color: azure;
  border: 1px solid yellow;
}
.contactForm h2 {
  margin-bottom: 1rem;
}
.topForm {
  display: flex;
  margin-left: 0%;
}
.contactInput {
  width: 15vw;
  padding: 0.2rem;
  border: 1px solid green;
}
::placeholder {
  font-size: 1rem;
  padding-left: 0.3rem;
}
.bottomForm input {
  padding: 0.1rem;
  width: 30.5vw;
}
.contactButton {
  background-color: transparent;
  margin-left: 0.6rem;
  margin-top: 1rem;
  border: 2px solid azure;
  width: 10vw;
  /* border: 1px solid orange; */
}
.contactButton:hover {
  background-color: azure;
  color: #ff3b3f;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.formAndContact {
  display: flex;
  flex-direction: row;
}
.contactInfo {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  color: azure;
  width: 27vw;
  border: 1px solid black;
}
.contactInfo h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.contactInfo p {
  margin-left: 0.5rem;
}
.contactIcon {
  display: flex;
  align-items: center;
  width: 120px;
  border: 1px solid dimgray;
}
.message_box {
  border-radius: 8px;
  width: 30.5vw;
  margin-left: 0.5rem;
}

.contactIcon h3 {
  font-size: 1rem;
}
