* {
  font-family: "Palanquin", sans-serif;
}
.container {
  display: flex;
  height: 94.4vh;
}
.formImg {
  background-image: url(https://source.unsplash.com/collection/8172461/1200xauto);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60vw;
}
.formTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formTop h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.formTop h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 1rem 0 2.5rem 0;
}
.userForm {
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: left;
  margin-top: 5rem;
}
input {
  width: 36vw;
  padding: 0.6rem 0.5rem;
  margin: 0.8rem 0 0.8rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 6px;
  border-color: lightgray;
}
.formButton {
  width: 38vw;
  margin: 0.5rem 0 0.4rem 0;
}
.accountLogin {
  display: flex;
  justify-content: space-between;
}
button {
  width: 37.5vw;
  background-color: lightgreen;
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.2rem;
  color: white;
  border-radius: 8px;
  margin-bottom: 0.6rem;
}
button:disabled {
  color: darkgray;
  background-color: lightgray;
}
.ready:hover {
  background-color: darkgreen;
  transition: ease-in 0.2s;
  cursor: pointer;
  font-weight: 900;
  padding: 0.2rem;
  color: white;
  border-radius: 8px;
}
.lockImg {
  height: 40px;
  width: 40px;
}
.account {
  text-decoration: none;
  color: #a9a9a9;
}
.error {
  color: red;
  font-weight: 900;
  margin-left: 1vw;
}
