.teamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 2.5rem;
}
.team-top {
  font-size: 2.8rem;
  font-weight: 900;
  padding: 4rem;
  text-transform: uppercase;
}
.team-top p {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #706e6e;
  padding-top: 1.5rem;
}
.team-span {
  border-bottom: 5px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.gradient {
  border-image-source: linear-gradient(to right, #fda1a1, #ff3b3f);
}
.team-content {
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
  padding-bottom: 4rem;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 700;
}
.team-content p {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #706e6e;
}
.team-card {
  width: 22vw;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.team-card img {
  width: 14vw;
  height: 30vh;
  margin: 1.5rem 0rem;
  border-radius: 10px;
}
.team-btn {
  width: 10vw;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  background-color: #ff3b3f;
  color: #efefef;
}
.team-btn:hover {
  background-color: #aa0003;
  color: #fff;
}

/**********************       TABLET VIEW     *************************/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .team-content {
    width: 80vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .team-card {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-card img {
    width: 28vw;
  }
  .team-btn {
    width: 20vw;
    margin-bottom: 1.5rem;
  }
}

/**********************       MOBILE VIEW     *************************/
@media only screen and (min-width: 375px) and (max-width: 767px) {
  .team-top h1 {
    font-size: 2.1rem;
  }
  .team-top p {
    font-size: 1rem;
  }
  .team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-card {
    width: 75vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .team-card img {
    width: 50vw;
  }
  .team-btn {
    width: 30vw;
    margin-bottom: 1.5rem;
  }

  .team-card h3 {
    font-size: 1.1rem;
  }

  .team-card p {
    font-size: 1rem;
  }
}
